<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/account.css" />
    <script src="./javascript/change_account.js"></script>
    <title>My Account</title>
</head>

<body>
    <div class="mainDiv">
        <div class="cardStyle">
            <form method="POST" action="" name="changeAccountForm" id="changeAccountForm">

                <img id="logo" src="images/logo.png" alt="BasicEats logo" href="/index" />

                <% if (isUsername) { %>
                    <h2 class="formTitle">Change your username</h2>
                <% } else { %>
                    <h2 class="formTitle">Change your password</h2>
                <% } %>

                <div class="inputDiv">
                    <% if (isUsername) { %>
                        <label class="inputLabel" for="password">New Username</label>
                    <% } else { %>
                        <label class="inputLabel" for="password">New Password</label>
                    <% } %>
                        <input type="password" id="password" name="password" required>
                </div>

                <div class="inputDiv">
                    <% if (isUsername) { %>
                        <label class="inputLabel" for="confirmPassword">Confirm Username</label>
                    <% } else { %>
                        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                    <% } %>
                        <input type="password" id="confirmPassword" name="confirmPassword">
                </div>

                <div class="buttonWrapper">
                    <% if (isUsername) { %>
                        <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary" onclick="validateSignupForm()">
                            <span>Continue</span>
                        </button>
                    <% } else { %>
                        <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary" onclick="validateSignupForm()">
                            <span>Continue</span>
                        </button>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</body>