<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- <script src="petition.js"></script> -->
    <title>Basic Eats</title>

</head>

<body>
    <div class="nav-bar">
        <a href="/">
            <img class="logo" src="images/logo.png" alt="" href="/index" />
        </a>

        <a href="/login" class="login">LOG IN/ SIGN UP</a>
        <div class="top-bar">
            <a href="/recipe-search" class="meal">MEAL</a>
            <p class="ingredient">INGREDIENT</p>
            <a href="/calendar" class="meal-plan">MEAL-PLAN</a>
            <a href="/aboutus" class="about-us">ABOUT US</a>
            <div class="search_bar">
                <form action="/search_recipes" method="get">
                    <div class="row">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" id="searchValue" name="searchValue" class=" search-query form-control"
                                    placeholder="Search Recipes..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="submit">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <a href="/view-users" class="account">ACCOUNT</a>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img class="chili" src="images/chili.jpg" alt="" />
            </div>
            <div class="col-4">
                <div class="top-recipes">
                    <p class="top-recipes-title">Top Recipes</p>
                    <img class="top-recipe-1" src="images/top-recipe-placeholder.jpg" alt="" />
                    <p class="top-recipe-txt-1">Sliders</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sep-bar">Editors Picks</div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img class="editors-pic-img-1" src="/images/top-recipe-placeholder.jpg" alt="" />
                <p class="editors-pic-txt-1">Recipe Name</p>
            </div>
            <div class="col-4">
                <img class="editors-pic-img-2" src="images/top-recipe-placeholder.jpg" alt="" />
                <p class="editors-pic-txt-2">Recipe Name</p>
            </div>
            <div class="col-4">
                <img class="editors-pic-img-3" src="images/top-recipe-placeholder.jpg" alt="" />
                <p class="editors-pic-txt-3">Recipe Name</p>
            </div>
        </div>
    </div>
    </div>
</body>