<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css" />
    <!-- <script src="petition.js"></script> -->
    <title>Basic Eats</title>

</head>

<body>
    <div class="nav-bar">
        <img class="logo" src="images/logo.png" alt="" />
        <a href="/login">here</a> to go to login.</p>
        <p class = "login"> LOG IN/ SIGN UP</p>
        <div class="top-bar">
            <p class="meal">MEAL</p>
            <p class="ingredient">INGREDIENT</p>
            <p class="meal-plan">MEAL-PLAN</p>
            <p class="about-us">ABOUT US</p>
            <p class="account">ACCOUNT</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img class="chili" src="images/chili.jpg" alt="" />
            </div>
            <div class="col-4">
                <div class = "top-recipes">
                    <p class = "top-recipes-title">Top Recipes</p>
                    <img class="top-recipe-1" src="images/top-recipe-placeholder.jpg" alt="" />
                    <p class="top-recipe-txt-1">Sliders</p>
                </div>
            </div>
        </div>
    </div>
    <div class = "sep-bar">Editors Picks</div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img class = "editors-pic-img-1"src="/images/top-recipe-placeholder.jpg" alt="" />
                <p class = "editors-pic-txt-1">Recipe Name</p>
            </div>
            <div class="col-4">
                <img class = "editors-pic-img-2"src="images/top-recipe-placeholder.jpg" alt="" />
                <p class = "editors-pic-txt-2">Recipe Name</p>
            </div>
            <div class="col-4"> 
                <img class = "editors-pic-img-3"src="images/top-recipe-placeholder.jpg" alt="" />
                <p class = "editors-pic-txt-3">Recipe Name</p>
            </div>
        </div>
        </div>
    </div>
</body>