<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="./css/index.css" />
    <title>Basic Eats</title>

</head>

<body>
    <% if(msg && msg==="login_success" ) { %>
        <div class="alert alert-success alert-dismissible fade show fixed-top" style="opacity: 0.6; padding-bottom: 1px;" role="alert">
          <p class="" style="font-size: 15px;">LOGGED IN SUCCESSFULLY</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }
    %>
    <% if(msg && msg==="saved_success" ) { %>
        <div class="alert alert-success alert-dismissible fade show fixed-top" style="opacity: 0.6; padding-bottom: 1px;" role="alert">
          <p class="" style="font-size: 15px;">RECIPE SAVED SUCCESSFULLY</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }
    %>
    <% if(msg && msg==="saved_no_success" ) { %>
        <div class="alert alert-success alert-dismissible fade show fixed-top" style="opacity: 0.6; padding-bottom: 1px;" role="alert">
          <p class="" style="font-size: 15px;">LOG IN TO SAVE RECIPE</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }
    %>
    <%- include('header.ejs') %>
    
    <div class="container">
        <div class="row">
            <div class="col-8">
                <a href="/recipe_by_id?ID=1697611">
                    <img class="chili" src="images/chili.jpg" alt="" />
                </a>
            </div>
            <div class="col-4">
                <div class="top-recipes">
                    <p class="top-recipes-title">Top Recipes</p>
                    <a href="/recipe_by_id?ID=642129">
                        <img class="top-recipe-1" src="images/springrolls.jpg" alt="springrolls" />
                        <p class="top-recipe-txt-1">Easy To Make Spring Rolls</p>
                    </a>
                    <a href="/recipe_by_id?ID=648275">
                        <img class="top-recipe-2" src="images/italian_tomato_mozzarella_caprese.jpg" alt="italian tomato mozzarella caprese" />
                        <p class="top-recipe-txt-2">Italian Tomato Mozzarella Caprese</p>
                    </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="sep-bar">Editors Picks</div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="/recipe_by_id?ID=715540">
                    <img class="editors-pic-img-1" src="images/summer-berry-salad.jpg" alt="summer berry salad" />
                    <p class="editors-pic-txt-1">Summer Berry Salad</p>
                </a>
            </div>
            <div class="col-4">
                <a href="/recipe_by_id?ID=643450">
                    <img class="editors-pic-img-2" src="images/cherry_scone.jpg" alt="cherry scone" />
                    <p class="editors-pic-txt-2">Fresh Cherry Scones</p>
                </a>
            </div>
            <div class="col-4">
                <a href="/recipe_by_id?ID=637591">
                    <img class="editors-pic-img-2" src="images/cheese_tort.jpg" alt="cheese tortellini" />
                    <p class="editors-pic-txt-2">Cheese Tortellini Alfredo</p>
                </a>
            </div>
        </div>
    </div>
    </div>
</body>