<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/recipe.css" />
    <!-- <script src="petition.js"></script> -->
    <title>Recipe</title>

</head>

<body>
    <div class="nav-bar">
        <img class="logo" src="images/logo.png" alt="" />
        <p class="login"> LOG IN/ SIGN UP</p>
        <div class="top-bar">
            <p class="meal">MEAL</p>
            <p class="ingredient">INGREDIENT</p>
            <p class="meal-plan">MEAL-PLAN</p>
            <p class="about-us">ABOUT US</p>
            <p class="account">ACCOUNT</p>
        </div>
    </div>
    <div class="title">
        <div class="page">
            <div class="recipe-img">
                <img src="images/greek salad.jpg" alt="Greek salad">
            </div>
            <div class="recipe-content">
                <h1 class="recipe-title">Greek Salad</h1>
                <p class="recipe-metadata">
                    <span class="recipe-rating">★★★★<span>☆</span></span>
                    <span class="recipe-votes">(12 votes)</span>
                </p>

                <p class="recipe-desc">This Greek salad recipe is incredibly good! It's nice and tangy and tastes even
                    better in the summer when tomatoes and cucumbers are at their best.</p>


                <button class="recipe-save" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#000000">
                        <path
                            d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z"
                            fill="currentColor" />
                    </svg>
                    Save
                </button>

                <button class="recipe-print" type="button">
                    <svg width="30" height="30" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                            d="M16.4 18H19c.6 0 1-.4 1-1v-5c0-.6-.4-1-1-1H5a1 1 0 0 0-1 1v5c0 .6.4 1 1 1h2.6m9.4-7V5c0-.6-.4-1-1-1H8a1 1 0 0 0-1 1v6h10ZM7 15h10v4c0 .6-.4 1-1 1H8a1 1 0 0 1-1-1v-4Z" />
                    </svg>
                    Print Shopping List
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="row">
                <div class="col prep">
                    <h3>Prep Time:</h3>
                    <h4>20 mins</h4>
                </div>
                <div class="col total">
                    <h3>Total Time:</h3>
                    <h4>20 mins</h4>
                </div>
            </div>
            <h3>Servings:</h3>
            <h4>6</h4>
        </div>
    </div>

    <div class="row">
        <div class="ingredients">
            <h3>Ingredients</h3>
            <ul>
                <li>1 head romaine lettuce- rinsed, dried and chopped</li>
                <li>1 cucumber, sliced</li>
                <li>2 large tomatoes, chopped</li>
                <li>1 (6 ounce) can pitted black olives</li>
                <li>1 green bell pepper, chopped</li>
                <li>1 red bell pepper, chopped</li>
                <li>1 red onion, thinly sliced</li>
                <li>1 cup crumbled feta cheese</li>
                <li>6 tablespoons olive oil</li>
                <li>1 lemon, juiced</li>
                <li>1 teaspoon dried oregano</li>
                <li>ground black pepper to taste</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="recipe-steps">
            <h3>Directions</h3>
            <ol>
                <li>Combine romaine, cucumber, tomatoes, olives, bell peppers, and red onion in a large bowl; sprinkle
                    with feta cheese.</li>
                <li>Whisk olive oil, lemon juice, oregano, and black pepper together in a small bowl. Pour dressing over
                    salad, toss well to combine, and serve.</li>
                <li>Pour dressing over salad, toss well to combine, and serve.</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="nutrition">
            <h3>Nutrition Facts</h3>
            <p>Per serving: 265 calories; total fat: 22g; saturated fat: 6g; cholesterol: 22mg; sodium: 538mg; total
                carbohydrate: 14g; dietary fiber: 5g;
                total sugars: 6g; protein: 6g; vitamin c: 79mg; calcium: 201mg; iron: 2mg; potassium: 483mg.</p>
        </div>
    </div>
</body>