<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/saved-recipes.css" />
    <title>Saved Recipes</title>

</head>

<body>
    <div class="nav-bar">
        <img class="logo" src="images/logo.png" alt="" />
        <a href="login.html" class="login"> LOG IN/ SIGN UP</a>
        <div class="top-bar">
            <a href="recipe.html" class="meal">MEAL</a>
            <a href="recipe-search.html" class="ingredient">INGREDIENT</a>
            <a href="calendar.html" class="meal-plan">MEAL-PLAN</a>
            <a href="aboutus.html" class="about-us">ABOUT US</a>
            <a href="saved-recipes.html" class="account">ACCOUNT</a>
        </div>
    </div>

    <div class="row">
        <div class="saved-recipes col">
            <h2>Saved Recipes</h2>
            <br>
            <table class="saved-recipes-table">
                <tr>
                    <th>Recipe Name</th>
                </tr>
                <tr>
                    <td>Greek Salad</td>
                </tr>
                <tr>
                    <td>Pad Thai</td>
                </tr>
                <tr>
                    <td>Spam Musubi</td>
                </tr>
            </table>
        </div>
        <div class="username-password col">
            <h2>User Info</h2>
            <br>
            <table class="username-password-table">
                <tr>
                    <th>Username</th>
                    <td>miverson</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>****************</td>
                </tr>
            </table>

        </div>
    </div>

</body>