body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#signupLogo {
    max-height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 2%;
}

p {
    font-size: 25px;
}

.answer {
    color: #6f8c69;
}

.header{
    font-weight: bold;
}

button {
    margin-top: 5%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #6f8c69;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
}