body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-bar {
    background-color: white;
    box-shadow: 0 4px 2px -2px rgb(208, 207, 207);
}

#logo {
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: -2%;
    display: inline-block;
}

.login {
    float: right;
    margin-right: 4%;
    margin-top: 3%;
    text-decoration: none;
    color: black;
}

.meal,
.ingredient,
.meal-plan,
.about-us {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    display: inline-block;
}

.nav-bar a:hover {
    color: #6f8c69;
    text-decoration: underline;
}

.account {
    text-decoration: none;
    color: black;
    float: right;
    font-size: 16px;
    margin-right: 4%;
    margin-top: 2%;
}

.row {
    margin-top: 4%;
}

.search_bar {
    display: inline-block;
    width: 30%;
}
/*for drop downs*/

.type_button, .ingredient_button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 1%;
    font: inherit;
    font-size: 16px;
    color: black;
    display: block; /* Display each button as a block element */
    width: 100%; /* Make each button occupy 100% width of its container */
    text-align: left; /* Align button text to the left */
    margin-bottom: 10px; /* Add bottom margin to separate buttons */
}

#custom-search-input {
    display: inline-block;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #6f8c69;
}

.search-query:focus+button {
    z-index: 3;
}

/* drop down */
/* Style the dropdown container */
.dropdown {
    font-size: 16px;
    position: relative;
    display: inline-block;
    margin-right: 3%;
    margin-left: 2%;
}

/* Style the link inside the dropdown */
.dropdown .menu-link {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 160px;
}

/* Show the dropdown content when the link is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown links */
.dropdown-content a {
    color: black;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}
