body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row {
    margin-top: 4%;

}

.chili {
    width: 100%;
}

.top-recipes {
    background-color: #acbea8;
    width: 110%;
    height: 100%;
}

.top-recipes-title {
    text-align: center;
    font-size: 30px;

}

.top-recipe-1 {
    display: block;
    margin-left: 5%;
    width: 50%;
    display: inline-block;
}

.top-recipe-txt-1 {
    font-style: italic;
    display: inline-block;
    font-size: 20px;
}

.sep-bar {
    width: 100%;
    height: 20%;
    background-color: #6f8c69;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 4%;
}

.editors-pic-img-1,
.editors-pic-img-2,
.editors-pic-img-3 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.editors-pic-txt-1,
.editors-pic-txt-2,
.editors-pic-txt-3 {
    text-align: center;
    font-size: 20px;

}