body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.title {
    margin-top: 5%;
}

.page {
    display: flex;
    margin-left: 8%;
    margin-right: 5%;
}

.recipe-img img {
    width: 30vw;
    height: auto;
}

.recipe-content {
    margin-left: 4%;
}

.recipe-title {
    font-weight: bold;
    font-size: 60px;
    color: #6f8c69;
}

.recipe-metadata {
    font-size: 25px;
}

.recipe-desc {
    margin-right: 25%;
    font-size: 30px;
}

i {
    display: block;
}

.recipe_save {
    display: inline-flex;
    align-items: center;
    padding: 6px 14px 6px 12px;
    border-radius: 4px;
    border: 3px solid #6f8c69;
    color: #6f8c69;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}

button {
    margin-top: 30px;
}

.recipe-print {
    display: inline-flex;
    align-items: center;
    padding: 6px 14px 6px 12px;
    border-radius: 4px;
    border: 3px solid #6f8c69;
    color: #6f8c69;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    margin-left: 40px;
}

svg {
    margin-right: 6px;
}

.card {
    box-shadow: 0 2px 6px #6f8c69;
    transition: 0.2s;
    width: 30%;
    margin-left: 33%;
    margin-right: 40%;
    margin-top: 2%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.card h3 {
    font-weight: bold;
}

.ingredients {
    margin-left: 7%;
    margin-top: 3%;
    font-size: 25px;
}

.ingredients h3 {
    font-weight: bold;
    color: #6f8c69;
}

li::marker {
    color: #6f8c69;
}

.results {
    margin-left: 4%;
}

.col-5:nth-child(2) {
    margin-left: 7%;
}

.recipe-steps {
    
    margin-left: 7%;
    margin-top: 3%;
    font-size: 25px;
}

.recipe-steps h3 {
    font-weight: bold;
    color: #6f8c69;
}

ol {
    word-wrap: break-word; 
}

li {
    padding-left: 10px;
    padding-bottom: 8px;
}

.nutrition {
    margin-left: 7%;
    margin-top: 3%;
    font-size: 25px;
}

.nutrition h3 {
    font-weight: bold;
    color: #6f8c69;
}

.nutrition p {
    margin-right: 28%;
}


/* Search bar */

.search_bar{
    display: inline-block;
    width: 30%;
}
#custom-search-input {
    display: inline-block;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#6f8c69;
}

.search-query:focus + button {
    z-index: 3;   
}
